@tailwind base;
@tailwind components;
@tailwind utilities;

.shop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    animation: swing 1s forwards;
}
.logo:hover {
    animation: heartBeat 1s infinite;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link > span {
    position: relative;
    align-self: center;
    color: rgba(255, 255, 255, .25);
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 65%;
    margin-left: 1em;
}

.nav-link > span::before {
    content: attr(data-text);
    position: absolute;
    color: rgb(249, 250, 244);
    width: 0;
    overflow: hidden;
    transition: .4s;
    -webkit-text-stroke: 2px var(--clr);
    border-right: .75em solid var(--clr);
}

.nav-link:hover > span::before {
    width: 100%;
    filter: drop-shadow(0 0 15px var(--clr));
    text-shadow:
    -1px -1px 1px var(--clr),  
    1px -1px 1px var(--clr),
    -1px 1px 1px var(--clr),
    1px 1px 1px var(--clr);
}
.nav-link:hover > span.black::before {
    filter: drop-shadow(0 0 15px rgb(249, 250, 244));
    text-shadow:
    -1px -1px 5px rgb(249, 250, 244),  
    1px -1px 5px rgb(249, 250, 244),
    -1px 1px 5px rgb(249, 250, 244),
    1px 1px 5px rgb(249, 250, 244);
}
