@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  z-index: -999;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  user-select: none;
  background: radial-gradient(
      111% 111% at 74.29% -11%,
      #a93300 0%,
      #005570 100%
    ),
    linear-gradient(127.43deg, #00d5c8 0%, #2200aa 100%);
  background-blend-mode: difference, normal;
}

:root {
  --bg-color: #00021b;
  --main-color: #02d3b0;
  --sub-color: #3c4c79;
  --sub-alt-color: #18214c;
  --text-color: azure;
  --hover-color: #02d3b0;
  --hover-extra-color: #3f887c;
}
